@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Use this mini web app to test USAePay's REST API from your browser.
        Start here: <a asp-page="/Auth">USAePay Auth</a>.
    </p>
</div>
